<!DOCTYPE html>
<html>
<head>
    <title>Cake Sale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>CMC Cake Sale Manager</h1>
    <p>NSI-projet-SQL</p>
    <button id="showeventbutton" onclick="show_event_list()">show event list and add event</button>
    <script>
        function show_event_list() {
            var x = document.getElementById("eventslist");
            var y = document.getElementById("showeventbutton");
            var z = document.getElementById("addeventform");
            var w = document.getElementById("remeventform");
            if (x.style.display === "none") {
                x.style.display = "block";
                w.style.display = "block";
                z.style.display = "block";
                y.textContent = "hide event list";
            } else {
                x.style.display = "none";
                z.style.display = "none";
                w.style.display = "none";
                y.textContent = "show event list and add event";
            }
        }
    </script>
    <table id="eventslist" style="display:none;">
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Event Date</th>
        </tr>
        {% for id, name, date in events %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ date }}</td>
        </tr>
        {% endfor %}
    </table>
    <form id="addeventform" style="display: none;" action="/addevent" method="post">
        <input type="text" name="name" placeholder="Event Name" required>
        <input type="date" name="date" required>
        <button type="submit">Create Event</button>
    </form>
        <form id="remeventform" style="display: none;" action="/deleteevent" method="post">
        <input type="text" name="id" placeholder="Event nbr to del" required>
        <button type="submit">Delete Event</button>
    </form>

    <button id="showarticlebutton" onclick="show_article_list()">show article list and add article</button>
    <script>
        function show_article_list() {
            var x = document.getElementById("articles_list");
            var y = document.getElementById("showarticlebutton");
            var z = document.getElementById("addarticleform");
            var w = document.getElementById("remarticleform");
            var v = document.getElementById("editarticleform");
            if (x.style.display === "none") {
                x.style.display = "block";
                w.style.display = "block";
                z.style.display = "block";
                v.style.display = "block";
                y.textContent = "hide article list";
            } else {
                x.style.display = "none";
                z.style.display = "none";
                v.style.display = "none";
                w.style.display = "none";
                y.textContent = "show article list and add article";
            }
        }
    </script>
        <table id="articles_list" style="display:none;">
        <tr>
            <th>Article ID</th>
            <th>Article Name</th>
            <th>Article Categorie</th>
            <th>Article Price</th>
            <th>Initial Quantity</th>
        </tr>
        {% for id, name, categorie, prix, quantite_initiale in articles %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ categorie }}</td>
            <td>{{ prix }}</td>
            <td>{{ quantite_initiale }}</td>
        </tr>
        {% endfor %}
    </table>
    <form id="addarticleform" style="display: none;" action="/addarticle" method="post">
        <input type="text" name="name" placeholder="Article Name" required>
        <input type="text" name="categorie" placeholder="Article Categorie" required>
        <input type="number" name="prix" placeholder="Article Price" required>
        <input type="number" name="quantite_initiale" placeholder="Initial Quantity" required>
        <button type="submit">Create Article</button>
    </form>
        <form id="remarticleform" style="display: none;" action="/deletearticle" method="post">
        <input type="text" name="id" placeholder="Article nbr to del" required>
        <button type="submit">Delete Article</button>
    </form>
    <form id="editarticleform" style="display: none;" action="/editarticle" method="post">
        <input type="text" name="id" placeholder="Article ID to edit" required>
        <input type="text" name="name" placeholder="New Article Name" required>
        <input type="text" name="categorie" placeholder="New Article Categorie" required>
        <input type="number" name="prix" placeholder="New Article Price" required>
        <input type="number" name="quantite_initiale" placeholder="New Initial Quantity" required>
        <button type="submit">Edit Article</button>
    </form>
</body>
</html>
